
@media screen and (min-width: 1280px) {


  /* homepage image container --> find it under main / section - react empty: 5 */
  .cGcGK {
    max-width: 720px !important;
  }

    /* homepage - keep right instastories away of feed*/
  .COOzN {
      top: 0px !important;
      left: 0px !important;
      position: relative !important;
  }

  /* modal view image container */
  .PdwC2 {
      max-width: 70% !important;
  }

  /* photo detail page */
  .QBXjJ {
      width: 1100px !important;
      max-width: 1200px !important;
  }

}
